.logo {
  color: white;
}

body {
  font-family: "Poppins";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  font-family: "Poppins";
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px 0 15px;
  outline: 2px solid tomato;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burger-menu {
  font-size: 20px;
  border: 0;
  padding: 14px;
  border-radius: 100px;
  line-height: 0.7;
  background-color: white;
}

.hero {
  background-image: url("../../images/hero-bg.png");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 188px 50px;
  background-repeat: no-repeat;
}

.hero-sub-title {
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 400;
}

.hero-title {
  font-size: 45px;
  line-height: 71px;
  margin-bottom: 24px;
}

.hero-p {
  font-size: 16px;
  margin-bottom: 45px;
}

.hero-link {
  color: #ffd723;
  text-decoration: underline;
  font-weight: 800;
}

.sponsors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 707px;
  border-radius: 2px;
}

.what-we-do {
  padding-top: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wwd-text {
  margin-bottom: 50px;
}

.wwd-title {
  font-weight: 700;
  font-size: 36px;
  color: #4d533c;
  line-height: 46px;
  margin-bottom: 35px;
}

.wwb-p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(33, 56, 66, 0.6);
}

.wwd-quote {
  color: #4d533c;
  font-weight: 400;
  font-size: 24px;
}

.wwd-review-pfp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.wwd-review-name {
  color: #4d533c;
  font-weight: 700;
  font-size: 19px;
}