* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins";
}

button {
  font-family: "Poppins";
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px 0 15px;
  outline: 2px solid tomato;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burger-menu {
  font-size: 20px;
  border: 0;
  padding: 14px;
  border-radius: 100px;
  line-height: 0.7;
  background-color: white;
}

.hero {
  background-image: url("../../images/hero-bg.png");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 188px 50px;
  background-repeat: no-repeat;
}

.hero-sub-title {
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 400;
}

.hero-title {
  font-size: 45px;
  line-height: 71px;
  margin-bottom: 24px;
}

.hero-p {
  font-size: 16px;
  margin-bottom: 45px;
}

.hero-link {
  color: #ffd723;
  text-decoration: underline;
  font-weight: 800;
}

.sponsors-list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 707px;
  border-radius: 2px;
  gap: 66px;
  padding: 50px 66px;
  -webkit-box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
          box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
}
@media screen and (min-width: 1200px) {
  .sponsors-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 540px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 355px;
  }
}

.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 25px;
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    padding-top: 244px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 160px;
  }
}

.wwd-text {
  margin-bottom: 50px;
}

.wwd-title {
  font-weight: 700;
  font-size: 36px;
  color: #4d533c;
  line-height: 46px;
  margin-bottom: 35px;
}

.wwb-p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 42px;
}

.wwd-quote {
  color: #4d533c;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 50px;
  width: 426px;
}

.wwd-review-pfp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.wwd-review-name {
  color: #4d533c;
  font-weight: 700;
  font-size: 19px;
}

.wwb-link {
  margin-top: 42px;
  color: rgba(33, 56, 66, 0.6);
  text-decoration: underline;
  font-weight: 800;
}

.awesome-projects {
  margin-top: 150px;
}

.awesome-img {
  width: 100%;
  position: relative;
}

.awesome-item {
  margin-bottom: 200px;
  position: relative;
}

.awesome-item:first-child {
  background-image: url(../../images/awesome-img1.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 550px;
}
@media screen and (min-width: 768px) {
  .awesome-item:first-child {
    padding-left: 680px;
    padding-top: 15px;
    background-size: 558px;
    background-position: left;
  }
}
@media screen and (min-width: 1200px) {
  .awesome-item:first-child {
    padding: 80px 0px;
    padding-left: 1050px;
    background-position: left;
    background-size: contain;
  }
}

.awesome-item:nth-child(2) {
  background-image: url(../../images/awesome-img2.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 550px;
}
@media screen and (min-width: 768px) {
  .awesome-item:nth-child(2) {
    padding-right: 280px;
    padding-top: 15px;
    background-size: 558px;
    background-position: right;
  }
}
@media screen and (min-width: 1200px) {
  .awesome-item:nth-child(2) {
    padding: 80px 0px;
    padding-right: 72px;
    background-position: right;
    background-size: contain;
  }
}

.awesome-item:nth-child(3) {
  background-image: url(../../images/awesome-img3.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 550px;
}
@media screen and (min-width: 768px) {
  .awesome-item:nth-child(3) {
    padding-left: 680px;
    padding-top: 15px;
    background-size: 558px;
    background-position: left;
  }
}
@media screen and (min-width: 1200px) {
  .awesome-item:nth-child(3) {
    padding: 80px 0px;
    padding-left: 1050px;
    background-position: left;
    background-size: contain;
  }
}

.awesome-text {
  max-width: 475px;
}
@media screen and (min-width: 768px) {
  .awesome-text {
    margin-bottom: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .awesome-text {
    margin-top: 100px;
  }
}

.awesome-review-quote {
  font-size: 16px;
  color: #4d533c;
  width: 350px;
}

.awesome-title {
  color: #4d533c;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .awesome-title {
    font-size: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .awesome-title {
    font-size: 36px;
  }
}

.awesome-p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 90px;
}
@media screen and (min-width: 768px) {
  .awesome-p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .awesome-p {
    font-size: 16px;
  }
}

.awesome-link {
  color: rgba(33, 56, 66, 0.6);
  text-decoration: underline;
  font-weight: 800;
}

.awesome-review {
  border-radius: 8px;
  width: 453px;
  height: 243px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .awesome-review {
    display: block;
    position: absolute;
    background-color: white;
    padding: 30px;
    -webkit-box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
            box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
  }
}

@media screen and (min-width: 1200px) {
  .awesome-review:first-child {
    top: 540px;
    left: 752px;
  }
}

@media screen and (min-width: 1200px) {
  .awesome-review:nth-child(2) {
    top: 572px;
    right: 650px;
  }
}

@media screen and (min-width: 1200px) {
  .awesome-review:nth-child(3) {
    top: 350px;
    left: 752px;
  }
}

.awesome-pfp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-top: 25px;
}

.awesome-name {
  font-weight: 700;
  font-size: 16px;
  color: #4d533c;
}

.awesome-i-p {
  color: rgba(33, 56, 66, 0.6);
  width: 518px;
}

.awesome-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 133px;
  margin-bottom: 104px;
}

.awesome-i-title {
  color: #4d533c;
  width: 325px;
  font-weight: 700;
  font-size: 36px;
}

@media screen and (min-width: 1200px) {
  .offering {
    padding-bottom: 358px;
  }
}

.offering-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #4d533c;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .offering-title {
    width: 607px;
    text-align: left;
  }
}

.offering-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .offering-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media screen and (min-width: 1200px) {
  .offering-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.offering-item {
  padding: 10px;
  width: 255px;
}

.offering-label {
  width: 183px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #4d533c;
  text-transform: uppercase;
}

.offering-item:first-child > .offering-text {
  width: 194px;
  color: rgba(33, 56, 66, 0.6);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 56px;
}

.offering-item:nth-child(2) > .offering-text {
  width: 194px;
  color: rgba(33, 56, 66, 0.6);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 32px;
}

.offering-item:nth-child(3) > .offering-text {
  width: 194px;
  color: rgba(33, 56, 66, 0.6);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 90px;
}

.offering-item:nth-child(4) > .offering-text {
  width: 194px;
  color: rgba(33, 56, 66, 0.6);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 68px;
}

.offering-link {
  position: inherit;
  color: rgba(33, 56, 66, 0.6);
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
}

.offering-link:hover {
  color: #ffd723;
}

.footer {
  position: relative;
  text-align: center;
  background-image: url(.././../images/Bg.png);
  padding-top: 100px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding: 120px 310px;
  }
}

.lmst {
  display: none;
}
@media screen and (min-width: 1200px) {
  .lmst {
    display: block;
    position: absolute;
    left: 0;
    bottom: 400px;
    border-radius: 2px;
    padding: 50px 66px;
    background-color: #fafafa;
  }
}

.lmst-title {
  color: #4d533c;
  font-weight: 700;
  font-size: 60px;
  width: 822px;
  margin-bottom: 50px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 128px;
  margin-bottom: 113px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 78px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.ftk-title {
  margin-bottom: 21px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.ftk-link {
  color: #b6c197;
  display: block;
  margin-bottom: 5px;
}

.ft-label {
  color: #b6c197;
  font-weight: 400;
  font-size: 16px;
}

.ft-info {
  color: white;
  font-weight: 700;
  font-size: 16px;
}