.awesome-projects {
  margin-top: 150px;
}

.awesome-img {
  width: 100%;
  position: relative;
}

.awesome-item {
  margin-bottom: 200px;
  position: relative;
}

.awesome-item:first-child {
  background-image: url(../images/awesome-img1.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 550px;
  @media screen and (min-width: 768px) {
    padding-left: 680px;
    padding-top: 15px;
    background-size: 558px;
    background-position: left;
  }

  @media screen and (min-width: 1200px) {
    padding: 80px 0px;
    padding-left: 1050px;
    background-position: left;
    background-size: contain;
  }
}

.awesome-item:nth-child(2) {
  background-image: url(../images/awesome-img2.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 550px;

  @media screen and (min-width: 768px) {
    padding-right: 280px;
    padding-top: 15px;
    background-size: 558px;
    background-position: right;
  }

  @media screen and (min-width: 1200px) {
    padding: 80px 0px;
    padding-right: 72px;
    background-position: right;
    background-size: contain;
  }
}

.awesome-item:nth-child(3) {
  background-image: url(../images/awesome-img3.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 550px;

  @media screen and (min-width: 768px) {
    padding-left: 680px;
    padding-top: 15px;
    background-size: 558px;
    background-position: left;
  }

  @media screen and (min-width: 1200px) {
    padding: 80px 0px;
    padding-left: 1050px;
    background-position: left;
    background-size: contain;
  }
}

.awesome-text {
  max-width: 475px;

  @media screen and (min-width: 768px) {
    margin-bottom: 140px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 100px;
  }
}

// .awesome-text:first-child {
//   @media screen and (min-width: 1200px) {
//     padding-right: 700px;
//   }
// }

// .awesome-text:nth-child(2) {
//   @media screen and (min-width: 1200px) {
//     padding-left: 700px;
//   }
// }

// .awesome-text:nth-child(3) {
//   @media screen and (min-width: 1200px) {
//     padding-right: 700px;
//   }
// }

.awesome-review-quote {
  font-size: 16px;
  color: $swamp;
  width: 350px;
}

.awesome-title {
  color: $swamp;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 25px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.awesome-p {
  font-weight: 400;
  font-size: 16px;
  color: $p-color;
  margin-bottom: 90px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.awesome-link {
  color: $p-color;
  text-decoration: underline;
  font-weight: 800;
}

.awesome-review {
  border-radius: 8px;
  width: 453px;
  height: 243px;
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    position: absolute;

    background-color: white;
    padding: 30px;
    box-shadow: 50px 50px 100px 0px #00000025;
  }
}

.awesome-review:first-child {
  @media screen and (min-width: 1200px) {
    top: 540px;
    left: 752px;
  }
}

.awesome-review:nth-child(2) {
  @media screen and (min-width: 1200px) {
    top: 572px;
    right: 650px;
  }
}

.awesome-review:nth-child(3) {
  @media screen and (min-width: 1200px) {
    top: 350px;
    left: 752px;
  }
}

.awesome-pfp {
  display: flex;
  gap: 5px;
  margin-top: 25px;
}

.awesome-name {
  font-weight: 700;
  font-size: 16px;
  color: $swamp;
}

.awesome-i-p {
  color: $p-color;
  width: 518px;
}

.awesome-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 133px;
  margin-bottom: 104px;
}

.awesome-i-title {
  color: $swamp;
  width: 325px;
  font-weight: 700;
  font-size: 36px;
}
