.awesome-projects {
  margin-top: 150px;
  max-width: 1441px;
  margin: 0 auto;
}

.awesome-item {
  margin-bottom: 200px;
  position: relative;
}

.awesome-item:first-child {
  background-image: url(../images/awesome-img1.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 550px;
  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-left: 360px;
    background-size: 358px;
    background-position: left;
  }

  @media screen and (min-width: 1200px) {
    padding: 80px 0px;
    background-position: left;
    background-size: auto;
  }
}

.awesome-item:nth-child(2) {
  background-image: url(../images/awesome-img2.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 550px;

  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-right: 360px;
    background-size: 358px;
    background-position: right;
  }

  @media screen and (min-width: 1200px) {
    padding: 80px 0px;
    padding-right: 72px;
    background-size: auto;
    background-position: right;
  }
}

.awesome-item:nth-child(3) {
  background-image: url(../images/awesome-img3.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 550px;
  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-left: 360px;
    background-size: 358px;
    background-position: left;
  }

  @media screen and (min-width: 1200px) {
    padding: 80px 0px;
    background-position: left;
    background-size: auto;
  }
}

.awesome-text {
  max-width: 475px;

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 475px;
  }
}

.awesome-text-autistic {
  max-width: 475px;

  @media screen and (min-width: 768px) {
    margin-bottom: 140px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 100px;
    width: 475px;
  }
}

// .awesome-text:first-child {
//   @media screen and (min-width: 1200px) {
//     padding-right: 700px;
//   }
// }

// .awesome-text:nth-child(2) {
//   @media screen and (min-width: 1200px) {
//     padding-left: 700px;
//   }
// }

// .awesome-text:nth-child(3) {
//   @media screen and (min-width: 1200px) {
//     padding-right: 700px;
//   }
// }

.awesome-review-quote {
  font-size: 16px;
  color: $swamp;
  width: 350px;
}

.awesome-title {
  color: $swamp;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 25px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.awesome-p {
  font-weight: 400;
  font-size: 16px;
  color: $p-color;
  margin-bottom: 90px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.awesome-link {
  color: $p-color;
  text-decoration: underline;
  font-weight: 800;
}

.awesome-review {
  border-radius: 8px;
  width: 453px;
  height: 243px;
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;

    background-color: white;
    padding: 30px;
    box-shadow: 50px 50px 100px 0px #00000025;
  }
}

.awesome-review:first-child {
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 358px;
    left: 350px;
  }
}

.awesome-review:nth-child(2) {
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 550px;
    left: 330px;
  }
}

.awesome-review:nth-child(3) {
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 558px;
    left: 350px;
  }
}

.awesome-pfp {
  display: flex;
  gap: 5px;
  margin-top: 25px;
}

.awesome-name {
  font-weight: 700;
  font-size: 16px;
  color: $swamp;
}

.awesome-i-p {
  color: $p-color;
  width: 518px;
  font-size: 16px;
}

.awesome-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 104px;
  margin-top: 301px;
  @media screen and (min-width: 1200px) {
    gap: 136px;
  }
}

.awesome-i-title {
  color: $swamp;
  width: 325px;
  font-weight: 700;
  font-size: 36px;
}
