.footer {
  position: relative;
  text-align: center;
  background-image: url(../images/Bg.png);
  padding-top: 100px;

  @media screen and (min-width: 1200px) {
    padding-top: 310px;
    text-align: left;
  }
}

.lmst {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    position: absolute;
    left: 0;
    bottom: 650px;
    border-radius: 2px;
    padding: 50px 66px;
    background-color: #fafafa;
  }
}
.lmst-title {
  color: $swamp;
  font-weight: 700;
  font-size: 60px;
  width: 822px;
  margin-bottom: 50px;
}

.footer-contacts {
  display: flex;
  gap: 128px;
  margin-bottom: 113px;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    justify-content: left;
  }
}

.footer-links {
  display: flex;
  gap: 78px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: left;
  }
}

.ftk-title {
  margin-bottom: 21px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.logo {
  display: flex;
}

.ftk-link {
  color: $footer-link;
  display: block;
  margin-bottom: 10px;
}

.rights-text .ftk-link {
  color: $footer-link;
  display: block;
  margin-bottom: 5px;
}

.ft-label {
  color: $footer-link;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}

.ft-info {
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.ftk-email {
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.footer-svg {
  width: 33px;
  height: 33px;
  fill: $swamp;
  background-color: #444a34;
  border-radius: 100%;
  padding: 5px;
}

.footer-socials {
  margin-top: 24px;
  display: flex;
  gap: 11px;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    justify-content: left;
  }
}

.footer-social-link:hover .footer-svg {
  fill: #ffffff;
  background-color: #ffd723;
}

.get-in-touch {
  @media screen and (min-width: 1200px) {
    margin-left: 124px;
  }
}

.rights-text {
  display: flex;
  gap: 5px;
}

.rights-logo {
  font-size: 32px;
  color: white;
  font-weight: 700;
}

.copyright {
  color: #b5c096;
  font-weight: 400;
  font-size: 14px;
}

.rights {
  margin-top: 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
