.hero {
  background-image: url("../images/hero-bg.png");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 188px 50px;
  background-repeat: no-repeat;
}

.hero-sub-title {
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 400;
}

.hero-title {
  font-size: 45px;
  line-height: 71px;
  margin-bottom: 24px;
}

.hero-p {
  font-size: 16px;
  margin-bottom: 45px;
}

.hero-link {
  color: $yellow;
  text-decoration: underline;
  font-weight: 800;
}

.sponsors-list {
  display: none;
  flex-direction: column;
  background-color: white;
  align-items: center;
  position: absolute;
  right: 0;
  top: 707px;
  border-radius: 2px;
  gap: 66px;
  padding: 50px 66px;
  box-shadow: 50px 50px 100px 0px #00000025;

  @media screen and (min-width: 1200px) {
    display: flex;
    top: 540px;
    flex-direction: row;
    right: 355px;
  }
}
