.what-we-do {
  display: flex;
  flex-direction: column;
  padding-top: 25px;

  @media screen and (min-width: 1200px) {
    padding-top: 244px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 160px;
  }
}

.wwd-text {
  margin-bottom: 50px;
}

.wwd-title {
  font-weight: 700;
  font-size: 36px;
  color: $swamp;
  line-height: 46px;
  margin-bottom: 35px;
}

.wwb-p {
  font-weight: 400;
  font-size: 16px;
  color: $p-color;
  margin-bottom: 42px;
}

.wwd-quote {
  color: $swamp;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 50px;
  width: 426px;
}

.wwd-review-pfp {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wwd-review-name {
  color: $swamp;
  font-weight: 700;
  font-size: 19px;
}

.wwb-link {
  margin-top: 42px;
  color: $p-color;
  text-decoration: underline;
  font-weight: 800;
}
